@CHARSET "ISO-8859-1";

body {background: #F5F5F5;text-align: center;line-height: 1.5;font-family: sans-serif;}

.container { position: relative; text-align: left; max-width: 980px; margin: 0 auto; }

header { width: 100%; margin: 0 auto; position: relative; padding: 20px 0; border-bottom: 1px solid #ddd; margin-bottom: 20px; }
nav ul { margin: 20 0 0 0; }
nav ul li { display: inline; margin-left: 20px; font-size: 16px; line-height: 28px; color: #333; }
nav ul li a { color: #5d5d5d;text-decoration: none;padding: 0.6em .4em 0.6em .4em;text-shadow: 0 1px #FFFFFF; }
nav a:hover{color: #82B440;}
.logo {color: #252122;margin: 50px 0px 25px;font-weight: 700;text-decoration: none;font-size: 34px;text-shadow: 0 1px 0 #FFFFFF;}

footer { border-top:1px solid #ccc; font-size:13px; line-height:26px; color:#999; margin-top: 30px; padding-top: 5px;}
footer a { color:#999999; }
footer a:hover { color:#105CB6; }
footer ul li { display:inline; list-style:none; padding-left:20px; }

.row { width: 100%; margin:0 auto 20px auto; display:inline-block; position:relative; }
.col-3, .col-4, .col-6{ float: left; margin-right: 2%; }
.col-3, .col-4, .col-6:last-child { margin-right: 0; }
.row:after, .clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.col-3  { width: 25%; }
.col-4  { width: 32%; }
.col-6  { width: 49%; }

table { margin-bottom: 20px; border-collapse: collapse; width: 100%; background-color: #e0e0e0; border: 1px solid #cccccc}
th { font-weight: bold; padding: 5px; background-color: #82B440; color: #ffffff; border: 1px solid #82B440}
td { text-align: left; padding: 5px;}
.left-col {width: 25%;}

.button{background-color: #b7b7b7; color: #ffffff; font-weight: bold; padding: 8px; border: none; font-size: 15px;}

.float-left { float: left; }
.float-right { float: right; }

hr { background-color: #ccc; border: 0px; color: #ccc; height: 1px; margin-bottom: 20px; }
h2 {color: #82B440};}